a.brand-logo{height: auto}
.brand-logo img{margin: 30px 0}
.top-nav h1{margin: 0; font-size: 1.5em; padding: 16px 0 0 15px}
header, main, footer {padding-left: 300px}

.side-nav{overflow: hidden}
.side-nav:hover{overflow: auto}
.side-nav li .hvr-shutter-out-vertical:before{background: #2196f3 !important}
.side-nav li .hvr-shutter-out-vertical{background:transparent}
.side-nav li .hvr-shutter-out-vertical:hover{color: #FFF !important}
.side-nav li.active a,.side-nav li.active a i{background: #2196f3 !important; color: #FFF !important}

main{margin: 20px}

/* Dashboard */
.report{height: 300px}

/* CSS specific to small screens */
@media only screen and (max-width : 992px) {
    header, main, footer {padding-left: 0}
}

/* CSS specific to ios devices */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .side-nav{overflow: auto}
}